:root {
    --color-yellow: #f0db4f;
    --color-gray: #323330;
    --color-orangered: orangered;
    --width: 960px;
}

body {
    background-color: var(--color-yellow);
    margin: 0;
}

h1, h2, h3, h4, p {
    color: var(--color-gray);
    margin-block-start: 0;
    margin-block-end: 0;
}

h1 {
    font-size: 64px;
    line-height: 72px;
}

h2 {
    font-size: 56px;
    line-height: 62px;
}

h3 {
    font-size: 48px;
    line-height: 54px;
}

h4 {
    font-size: 40px;
    line-height: 44px;
}

p {
    font-size: 32px;
    line-height: 36px;
}

header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    border-bottom: solid 1px var(--color-gray);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
}

header a{
    text-decoration: none;
}

header a:visited{
    color: var(--color-gray);
}

section {
    background-color: white;
}

section.container {
    margin: 32px auto;
    padding: 16px;
}

section h4 {
    text-align: center;
}

article {
    background-color: white;
}

article.container {
    margin: 128px auto 32px;
    padding: 0;
    height: calc(100vh - 256px);
}

footer {
    position: fixed;
    margin: 0;
    padding: 0;
    right: 94px;
    bottom: 32px;
}

select, button {
    transition: background-color 0.8s linear;
    height: 32px;
    background-color: #f0db4f;
    border: solid 1px #323330;
    font-size: 24px;
}

select:hover, button:hover {
    transition: background-color 0.8s linear;
    background-color: white;
    cursor: pointer;
}

menu{
    padding-top: 40px;
}

menu ol li{
    font-size: 48px;
    line-height: 54px;
    padding: 0 16px;
    /*list-style: none;*/
}

menu ol li a{
    text-decoration: none;
}

menu ol li a:visited{
    color: var(--color-gray);
}
menu ol li a:hover{
    text-decoration: underline;
}

mark {
    color: var(--color-orangered);
    background-color: transparent;
}

.container {
    max-width: var(--width);
    margin: 0 auto;
}

.slider {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.item {
    transition: top 1s, bottom 1s;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    list-style: none;
}

.item.previous {
    top: -100%;
    left: 0;
    right: 0;
    bottom: 100%;
}

.item.active {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.item.next {
    top: 100%;
    left: 0;
    right: 0;
    bottom: -100%;
}

.item img {
    position: relative;
    width: 100%;
    height: 100%;
}

.item div {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    bottom: 0;
}

.item h1, .item h2, .item h3, .item h4, .item p {
    position: relative;
    width: 100%;
    text-align: center;
    font-weight: bold;
    padding: 16px;
    background-color: rgba(255, 255, 255, 0.8);
}
