<ul class="slider">
    <li class="item active">
        <img src="http://diafilmy.su/uploads/posts/2019-07/1564122880_pict-k-04.jpg"/>
        <div>
            <h4 class="ru">Колобок</h4>
        </div>
    </li>
    <li class="item next">
        <img src="http://diafilmy.su/uploads/posts/2019-07/1564122796_pict-k-05.jpg"/>
        <div>
            <p class="ru">Жили-были старик со старухой. Как-то говорит старик: - Наскреби-ка, жена, муки да испеки колобок.</p>
        </div>
    </li>
    <li class="item next">
        <img src="http://diafilmy.su/uploads/posts/2019-07/1564122801_pict-k-06.jpg"/>
        <div>
            <p class="ru">Наскребла старуха муки горсти две, замесила колобок. - Ну-ка, дружок, полезай в печь.</p>
        </div>
    </li>
    <li class="item next">
        <img src="http://diafilmy.su/uploads/posts/2019-07/1564122820_pict-k-07.jpg"/>
        <div>
            <p class="ru">Когда колобок испекся, старуха положила его на окошко остудиться. Лежал, лежал колобок. Стало ему скучно - взял да и покатился, с окошка до двери...</p>
        </div>
    </li>
</ul>
