<ul class="slider">
    <li class="item active">
        <img src="http://diafilmy.su/uploads/posts/2014-12/1419652353_01.jpg"/>
        <div>
            <h4 class="ru">Репка</h4>
        </div>
    </li>
    <li class="item next">
        <img src="http://diafilmy.su/uploads/posts/2014-12/1419652368_02.jpg"/>
        <div>
            <h4 class="ru">Посадил дед репку.</h4>
        </div>
    </li>
    <li class="item next">
        <img src="http://diafilmy.su/uploads/posts/2014-12/1419652323_03.jpg"/>
        <div>
            <h4 class="ru">Выросла репка</h4>
        </div>
    </li>
    <li class="item next">
        <img src="http://diafilmy.su/uploads/posts/2014-12/1419652364_04.jpg"/>
        <div>
            <h4 class="ru">большая-пребольшая.</h4>
        </div>
    </li>
    <li class="item next">
        <img src="http://diafilmy.su/uploads/posts/2014-12/1419652407_05.jpg"/>
        <div>
            <h4 class="ru">Стал дед репку тянуть. Тянет-потянет,</h4>
        </div>
    </li>
    <li class="item next">
        <img src="http://diafilmy.su/uploads/posts/2014-12/1419652393_06.jpg"/>
        <div>
            <h4 class="ru">вытянуть не может.</h4>
        </div>
    </li>
    <li class="item next">
        <img src="http://diafilmy.su/uploads/posts/2014-12/1419652380_07.jpg"/>
        <div>
            <h4 class="ru">Позвал дед бабку.</h4>
        </div>
    </li>
    <li class="item next">
        <img src="http://diafilmy.su/uploads/posts/2014-12/1419652485_08.jpg"/>
        <div>
            <h4 class="ru">Бабка за дедку, дедка за репку,- тянут-потянут,</h4>
        </div>
    </li>
    <li class="item next">
        <img src="http://diafilmy.su/uploads/posts/2014-12/1419652488_09.jpg"/>
        <div>
            <h4 class="ru">вытянуть не могут.</h4>
        </div>
    </li>
    <li class="item next">
        <img src="http://diafilmy.su/uploads/posts/2014-12/1419652497_10.jpg"/>
        <div>
            <h4 class="ru">Позвала бабка</h4>
        </div>
    </li>
    <li class="item next">
        <img src="http://diafilmy.su/uploads/posts/2014-12/1419652515_11.jpg"/>
        <div>
            <h4 class="ru">внучку.</h4>
        </div>
    </li>
    <li class="item next">
        <img src="http://diafilmy.su/uploads/posts/2014-12/1419652497_12.jpg"/>
        <div>
            <h4 class="ru">Внучка за бабку, бабка за дедку, дедка за репку,-</h4>
        </div>
    </li>
    <li class="item next">
        <img src="http://diafilmy.su/uploads/posts/2014-12/1419652481_13.jpg"/>
        <div>
            <h4 class="ru">тянут-потянут,</h4>
        </div>
    </li>
    <li class="item next">
        <img src="http://diafilmy.su/uploads/posts/2014-12/1419652542_14.jpg"/>
        <div>
            <h4 class="ru">вытянуть не могут.</h4>
        </div>
    </li>
    <li class="item next">
        <img src="http://diafilmy.su/uploads/posts/2014-12/1419652567_15.jpg"/>
        <div>
            <h4 class="ru">Позвала внучка Жучку.</h4>
        </div>
    </li>
    <li class="item next">
        <img src="http://diafilmy.su/uploads/posts/2014-12/1419652544_16.jpg"/>
        <div>
            <h4 class="ru">Жучка за внучку, внучка за бабку, бабка за дедку, дедка за репку,-</h4>
        </div>
    </li>
    <li class="item next">
        <img src="http://diafilmy.su/uploads/posts/2014-12/1419652638_17.jpg"/>
        <div>
            <h4 class="ru">тянут-потянут,</h4>
        </div>
    </li>
    <li class="item next">
        <img src="http://diafilmy.su/uploads/posts/2014-12/1419652651_18.jpg"/>
        <div>
            <h4 class="ru">вытянуть не могут.</h4>
        </div>
    </li>
    <li class="item next">
        <img src="http://diafilmy.su/uploads/posts/2014-12/1419652606_19.jpg"/>
        <div>
            <h4 class="ru">Позвала Жучка кошку.</h4>
        </div>
    </li>
    <li class="item next">
        <img src="http://diafilmy.su/uploads/posts/2014-12/1419652681_20.jpg"/>
        <div>
            <h4 class="ru">Кошка за Жучку, Жучка за внучку,</h4>
        </div>
    </li>
    <li class="item next">
        <img src="http://diafilmy.su/uploads/posts/2014-12/1419652703_21.jpg"/>
        <div>
            <h4 class="ru">внучка за бабку, бабка за дедку, дедка за репку,-</h4>
        </div>
    </li>
    <li class="item next">
        <img src="http://diafilmy.su/uploads/posts/2014-12/1419652712_22.jpg"/>
        <div>
            <h4 class="ru">тянут-потянут,</h4>
        </div>
    </li>
    <li class="item next">
        <img src="http://diafilmy.su/uploads/posts/2014-12/1419652735_23.jpg"/>
        <div>
            <h4 class="ru">вытянуть не могут.</h4>
        </div>
    </li>
    <li class="item next">
        <img src="http://diafilmy.su/uploads/posts/2014-12/1419652748_24.jpg"/>
        <div>
            <h4 class="ru">Позвала кошка</h4>
        </div>
    </li>
    <li class="item next">
        <img src="http://diafilmy.su/uploads/posts/2014-12/1419652819_25.jpg"/>
        <div>
            <h4 class="ru">мышку.</h4>
        </div>
    </li>
    <li class="item next">
        <img src="http://diafilmy.su/uploads/posts/2014-12/1419652828_26.jpg"/>
        <div>
            <h4 class="ru">Мышка за кошку, кошка за Жучку,</h4>
        </div>
    </li>
    <li class="item next">
        <img src="http://diafilmy.su/uploads/posts/2014-12/1419652788_27.jpg"/>
        <div>
            <h4 class="ru">Жучка за внучку, внучка за бабку,</h4>
        </div>
    </li>
    <li class="item next">
        <img src="http://diafilmy.su/uploads/posts/2014-12/1419652858_28.jpg"/>
        <div>
            <h4 class="ru">бабка за дедку, дедка за репку,- тянут-потянут,</h4>
        </div>
    </li>
    <li class="item next">
        <img src="http://diafilmy.su/uploads/posts/2014-12/1419652854_29.jpg"/>
        <div>
            <h4 class="ru">вытащили репку!</h4>
        </div>
    </li>
    <li class="item next">
        <img src="http://diafilmy.su/uploads/posts/2014-12/1419652871_30.jpg"/>
        <div>
            <h4 class="ru">Конец</h4>
        </div>
    </li>
</ul>
