<ul class="slider">
    <li class="item active">
        <img src="http://diafilmy.su/uploads/posts/2020-03/1583572630_kurochka-03.jpg"/>
        <div>
            <h4 class="ru">Курочка Ряба</h4>
        </div>
    </li>
    <li class="item next">
        <img src="http://diafilmy.su/uploads/posts/2020-03/1583572647_kurochka-05.jpg"/>
        <div>
            <h4 class="ru">Жили-были дед, да баба.</h4>
        </div>
    </li>
    <li class="item next">
        <img src="http://diafilmy.su/uploads/posts/2020-03/1583572672_kurochka-06.jpg"/>
        <div>
            <h4 class="ru">Была у них курочка ряба.</h4>
        </div>
    <li class="item next">
        <img src="http://diafilmy.su/uploads/posts/2020-03/1583572660_kurochka-07.jpg"/>
        <div>
            <h4 class="ru">Снесла курочка яичко, не простое - золотое.</h4>
        </div>
    </li>
    <li class="item next">
        <img src="http://diafilmy.su/uploads/posts/2020-03/1583572620_kurochka-08.jpg"/>
        <div>
            <h4 class="ru">Дед бил, бил - не разбил.</h4>
        </div>
    <li class="item next">
        <img src="http://diafilmy.su/uploads/posts/2020-03/1583572673_kurochka-09.jpg"/>
        <div>
            <h4 class="ru">Баба била, била - не разбила.</h4>
        </div>
    </li>
    <li class="item next">
        <img src="http://diafilmy.su/uploads/posts/2020-03/1583572650_kurochka-10.jpg"/>
        <div>
            <h4 class="ru">Мышка бежала, хвостиком задела, яичко упало и разбилось.</h4>
        </div>
    <li class="item next">
        <img src="http://diafilmy.su/uploads/posts/2020-03/1583572653_kurochka-11.jpg"/>
        <div>
            <h4 class="ru">Дед плачет,</h4>
        </div>
    </li>
    <li class="item next">
        <img src="http://diafilmy.su/uploads/posts/2020-03/1583572646_kurochka-12.jpg"/>
        <div>
            <h4 class="ru">баба плачет,</h4>
        </div>
    <li class="item next">
        <img src="http://diafilmy.su/uploads/posts/2020-03/1583572696_kurochka-13.jpg"/>
        <div>
            <p class="ru">а курочка кудахчет: "Не плачь, дед, не плачь, баба: снесу вам яичко другое, не золотое - простое!"</p>
        </div>
    </li>
    <li class="item next">
        <img src="http://diafilmy.su/uploads/posts/2020-03/1583572703_kurochka-40.jpg"/>
        <div>
            <h4 class="ru">Конец</h4>
        </div>
</ul>
