body {
    background-color: #f0db4f;
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #f0db4f;
    width: 100%;
    border-bottom: solid 1px #323330;
}

header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 32px;
}

select, button {
    transition: background-color 0.8s linear;
    height: 32px;
    background-color: #f0db4f;
    border: solid 1px #323330;
    font-size: 24px;
}

select:hover, button:hover {
    transition: background-color 0.8s linear;
    background-color: white;
}

.logo {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 56px;
    line-height: 52px;
    padding: 16px;
}

.container {
    position: relative;
    max-width: 960px;
    margin: 160px auto 32px;
    height: calc(100vh - 196px);
}

.save {
    width: 100%;
    padding: 0;
}

.save h3 {
    text-align: right;
    padding-bottom: 16px;
}

content {
    display: block;
    min-height: 60%;
    background-color: white;
    padding: 32px;
}

h1, h2, h3, p, a, option {
    margin-block-start: 0;
    margin-block-end: 0;
    color: #323330;
}

h1 {
    font-size: 64px;
    padding: 16px 16px 32px;
}

p {
    font-size: 32px;
    line-height: 36px;
    margin: 8px 0;
    border-bottom: solid 1px #323330;
}

textarea {
    width: 100%;
    height: 300px;
}

button:hover, select:hover, option:hover {
    cursor: pointer;
}
